:root {
    color-scheme: light dark;
}

body {
    width: 300px;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 8px;
    row-gap: 8px;
    align-content: space-between;
}

.element {
    width: 100%;
    margin: auto auto;
}

.element:hover {
    width: 110%;
}
